<%= form_for :profile do |f|%>
<div>
    <%= f.hidden_field :name, :value => @name  %>
    <%= f.hidden_field :bio, :value => @bio  %>
    <%= f.hidden_field :link, :value => @link %>
    <%= f.submit class: "btn btn-primary btn-sm float-right mt-2 mr-1 mb-5"%>
</div>
<% end %>