<%= form_for :profile do |f| %>
<div class="actions">
    <%= f.hidden_field :name, :value => @name  %>
    <%= f.hidden_field :bio, :value => @bio  %>
    <%= f.hidden_field :link, :value => @link %>
    <%= f.submit %>
</div>
<% end %>