<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>bio</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Link:</strong>
  <%= @profile.link %>
</p>

<%= link_to 'Back', profiles_path %>